table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}
body, html {
    height: 100%;
    width: 100%;
    background-image: url("../IMG/coffeebg2.jpeg");
    background-size: cover;
}
h1 {
    color: darkcyan;
}
.subTitle {
    color: darkcyan;
}

.mainTitle {
    color: darkcyan;

}


.title {
    color: darkcyan;
}

strong {
    color: azure;
}

#coffees {
    color: darkcyan;
}
hr {
    color: azure;
}