body, html {
    height: 100%;
    width: 100%;
    background-image: url("../IMG/coffeebg2.jpeg");
    background-size: cover;
}
small {
    color: cadetblue;
}

.mainCoffee {
    color: darkcyan;
    font-size: 100px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.subTitle {
    color: darkcyan;
    text-shadow: -1px 0 lightgrey, 0 1px lightgrey, 1px 0 lightgrey, 0 -1px lightgrey;
    font-size: 20px;
}

.title {
    color: darkcyan;
    text-shadow: -1px 0 lightgrey, 0 1px lightgrey, 1px 0 lightgrey, 0 -1px lightgrey;
}


#coffees {
    color: darkcyan;
    text-shadow: -1px 0 lightgrey, 0 1px lightgrey, 1px 0 lightgrey, 0 -1px lightgrey;
}

